  <section class="section header">
      <div class="container">
        <h1 class="title">
          <img class="title-img" src="/images/icons/mainIcon.png">Yakıt Asistan
        </h1>
        <p class="subtitle">
          <strong>Yakıt Asistan</strong> uygulamasına hoşgeldin!!
        </p>
      </div>
      <div class="docs">  <a href="/documentation"><button class="button is-warning"><i class="fa-solid fa-file-doc"></i>DOCS</button></a></div>
      <hr class="header-hr">
  </section>
  
  
  <section class="section" id="main-content">
    <br><br>
    <div class="card" id="main-card">
      <div class="card-header pt-2">
        <p class="title ml-5">
          <img class="title-img" src="/images/icons/mainIcon.png">  <Strong>Documentation</Strong> - Usage <p class="subtitle has-text-centered mt-2 ml-2"></p>
        </p>
      </div>
      <div class="card-content">
        <p class="subtitle mt-2 ml-2"> <strong>URLs of properties</strong>:</p>
        <div class="content">
          <dl>
            <dt>&nbsp&nbsp&nbsp Membership and creating an APIKEY</dt>
              <dd>
                <ol type="I">
                  <li> Sign up from the "/register" page.</li>
                  <li> Your APIKEY will be generated automatically. You can access the data with your API.</li>
                  <li> If you are a member, log in from the "/ login" page and copy your APIKEY.</li>
                </ol>
              </dd>
              <br>
            <dt>&nbsp&nbsp&nbsp Services Usage</dt>
              <dd>
                <ol type="I">
                  <li> You can access the services with your APIKEY.</li>
                </ol>
              </dd>
              <br>
            <dt>&nbsp&nbsp&nbsp Billing and Right of Use</dt>
              <dd>
                <ol type="I">
                  <li> Every time you send a request to the API, your right to use it will be reduced.</li>
                  <li> You will not be able to access the data when your right to use it expires. You can log in and request the right of use from your homepage.</li>
                </ol>
              </dd>
              <br>
          </dl>
          
        </div>
        <br><br>
        <p class="subtitle mt-2 ml-2"> <strong>Get your APIKEY</strong>:</p>
        <button class="button is-info">Get APIKEY</button>
        <br><br><br>
        <p class="subtitle mt-2 ml-2"> <strong>URLs of properties</strong>:</p>
        <div class="content">
          <ul>
            <li>/login</li>
            <li>/register</li>
            <li>/po</li>
            <li>/aytemiz</li>
            <li>/opet</li>
            <li>/shell</li>
            <li>/go</li>
            <li>/moil</li>
            <li>/tp</li>
            <li>/soil</li>
            <li>/city-list</li>
          </ul>
        </div>
        <br><br>
        <p class="subtitle mt-2 ml-2"> <strong>API request prototype</strong>:</p>
        <pre><code class="language-javascript" id="apikey">curl -X GET <%=server_url %>company-name?apikey=YOURAPİKEY -H "Content-Type: application/json" 
        </code></pre>
        <br>
        <p class="subtitle mt-2 ml-2"> API Usage : <strong>Node</strong></p>
        <pre><code class="language-javascript" id="apikey">
            var http = require("https");
            var options = {
            "method": "GET",
            "hostname": "<%=server_url %>",
            "port": null,
            "path": "/po?apikey=YOURAPIKEY",
            "headers": {
                "content-type": "application/json",
            }
            };

            var req = http.request(options, function (res) {
            var costs = [];

            res.on("data", function (cost) {
                costs.push(cost);
            });

            res.on("end", function () {
                var body = Buffer.concat(costs);
                console.log(body.toString());
            });
            });

            req.end();
        </code></pre>
        <br>
        <p class="subtitle mt-2 ml-2"> API Usage : <strong>Javascript</strong></p>
        <pre><code class="language-javascript" id="apikey">
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE) {
                console.log(this.responseText);
            }
            });

            xhr.open("GET", "<%=server_url %>po?apikey=YOURAPIKEY");
            xhr.setRequestHeader("content-type", "application/json");

            xhr.send(data);
        </code></pre>
        <br>
        </div>
        <footer class="card-footer">
          <a href="/documentation" class="card-footer-item">API Overview</a>
          <a href="/documentation/usage" class="card-footer-item">API usage</a>
          <a href="/documentation/response" class="card-footer-item">API Response</a>
      </footer>
    </div>
    
  </section>
  