
  
  <section class="section header">
      <div class="container">
        <h1 class="title">
          <img class="title-img" src="/images/icons/mainIcon.png">Yakıt Asistan
        </h1>
        <p class="subtitle">
          <strong>Yakıt Asistan</strong> uygulamasına hoşgeldin!!
        </p>
      </div>
      <div class="logout">  <a href="/documentation"><button class="button is-warning"><i class="fa-solid fa-file-doc"></i>DOCS</button></a></div>
      <hr class="header-hr">
  </section>
  
  
  <section class="section" id="main-content">
    <br><br>
    <div class="card">
      <div class="card-image opps-card">
          <img
            src="/images/opps.png"
          />
      </div>
      <div class="card-content">
        <img class="title-img" src="/images/icons/mainIcon.png">  <strong>Opps! Aradığınız sayfa bulunamadı!</strong> <p class="subtitle has-text-centered ml-2"></p>
      </div>
    </div>
    
  </section>
  